:root {
    --first-color: rgb(87, 0, 168);
    --second-color: rgb(230, 230, 230);
    --third-color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

#high-score {
    display: flex;
    flex: auto;
    margin: 20px;
}

#timer {
    margin: 20px 30px 20px 0;
    padding: 10px 20px;
    width: auto;
    justify-content: left;
    color: white;
    font-weight: bold;
    background-color: var(--first-color);
    border-radius: 10px;
    border: none;
    outline: none;
    
}

.container {
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}
  
.container h1 {
    margin: 30px 0 30px 0;
}
  
.instructions {
    display: flex;
    flex: wrap;
    justify-content: center;
    margin: 30px 10%;
    font-size: 20px;
    text-align: center;
}
  
#read {
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 25px;
}

.button {
      background-color: var(--first-color);
      color: white;
      font-size: 18px;
      font-weight: bold;
      padding: 15px 30px;
      width: auto;
      border-radius: 15px;
      border: none;
      box-shadow: 0 0 3px #000000;
      text-align: center;
      outline: none;
}

.score {
    font-size: 16px;
    margin: 30px auto;
    border: solid 2px var(--first-color);
    display: block;
    padding: 10px 20px;
    color: var(--third-colorcolor);
    width: auto;
    border-radius: 15px;
    background-color: var(--second-color);
    outline: none;
}

.showQuestion .button {
    display: block;
    width: auto;
    margin: 30px auto;
}

.showQuestion, .showScore {
    margin: 50px auto;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: none;
}

.showScore #gameScore {
    margin: 30px;
   
}

  
 